html {
  background-color: #f2f2f2;
}

.center {
  text-align: center;
}

.body-text {
  font-family: "Inconsolata", monospace;
  font-size: 200%;
}

.header-gradient {
  color: #2a2740;
  font-family: "Open Sans", monospace;
  font-size: 5em;
  background-image: linear-gradient(45deg, #f25050 48%, #5d5a73 52%);
  background-size: 100%;
  background-clip: text;
  background-repeat: repeat;
  background-size: 100%;
  margin-top: 0.15em;
  margin-bottom: 0.15em;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hover-gradient {
  color: rgba(42, 39, 64, 1);
  background-image: linear-gradient(45deg, #f25050 -5%, #5d5a73 105%);
  background-clip: text;
  background-repeat: repeat;
  transition: color .2s ease-in-out;

  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.hover-gradient:hover {
  color: rgba(42, 39, 64, 0);
}

.link {
  color: transparent
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f25050;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 65%;
}