:root {
  --ink: #2a2740;
  --paperwhite: #f2f2f2;
  --bonemeal: #E5E5E5;
  --radish: #f25050;
  --eggplant: #5d5a73;
  --transplant-eggplant: rgba(42, 39, 64, 0);
  --non-transplant-eggplant: rgba(42, 39, 64, 1);
}

html {
  background-color: #f2f2f2;
}

body {
  font-family: "Inconsolata", monospace;
  font-size: 160%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
}

pre {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.center {
  text-align: center;
}

.header-gradient {
  color: var(--ink);
  font-size: 5rem;
  background-image: linear-gradient(45deg, var(--radish) 48%, var(--eggplant) 52%);
  background-size: 100%;
  background-clip: text;
  background-repeat: repeat;
  background-size: 100%;
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hover-gradient {
  color: var(--non-transplant-eggplant);
  background-image: linear-gradient(45deg, var(--radish) -5%, var(--eggplant) 105%);
  background-clip: text;
  background-repeat: repeat;
  transition: color .2s ease-in-out;

  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.hover-gradient:hover {
  color: var(--transplant-eggplant);
}

.spooky-link {
  color: transparent
}

.project-card-container {
  margin: 2rem auto 2rem;
  width: 40%;
}

.project-card {
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1.5rem 1.5rem;
  box-shadow: 3px 6px 15px -6px var(--ink);
}

.project-card-inner {
  font-size: 65%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--radish);
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 65%;
}
